@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

main {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
}

.form {
    width: 100%;
    display: block;

    transform: translateY(-150%);
    animation: showForm 1.5s forwards;
}

@keyframes showForm {
    0% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0);
    }
}

#regForm {
    display: none;
}

#loginForm {
    display: block;
}

.form__header-text {
    text-align: center;
}

.sectionInput {
    display: flex;

    flex-direction: column;
    align-items: center;

    margin: 30px 0;
}

label {
    margin-bottom: 13px;
    font-size: 19px;
    font-weight: bold;
}

.form__input {
    width: 400px;
    height: 30px;

    border: 2px solid #aaa;
    border-radius: 20px;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

    text-align: center;
}

.formButton {
    width: auto;
    height: 50px;

    padding: 0 10px;

    background: white;

    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

    cursor: pointer;

    transition: all 0.5s ease 0s;

    border: 2px solid black;
}

.formButton:hover {
    background: black;
    color: white;

    transition: all 0.5s ease 0s;
}

.registrationLink {
    font-weight: bold;
    cursor: pointer;
}